/* perfil */
.perfil{
    /* background-color: rgb(115, 192, 192); */
    background: linear-gradient(rgb(134, 164, 199), rgb(188, 211, 236));
    color: black;
}

.btn-link{
    text-decoration: none;    
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}

.btn-link:hover{
    text-decoration: none;    
    color: blue;
}